{{template "public/header" .}}
    <h1>Upload Image</h1><label for="uploadFile" id="uploadFileLabel" class="custom-file-label">Select Files</label> <input
        type="file" name="image" id="uploadFile" class="custom-file-input" multiple> <button id="uploadButton">Upload</button>
    <div id="loading">Uploading...</div>
    <div id="response" class="ui-widget"></div>
{{template "public/footer" .}}
